<mat-toolbar class="mat-elevation-z8">
    @if (sidenav.mode === 'over') {
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon style="color: white !important;">{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
      </button>
    }
    <span style="flex: 1;"></span>
    <span style="font-weight: bold;">ELMS</span>
    <span style="flex: 1;"></span>
    <button mat-icon-button aria-label="Link icon button to LinkedIn">
      <a href="https://www.linkedin.com/in/sebastien-larue-820510192" target="_blank">
        <mat-icon  style="color: white;">link</mat-icon>
      </a>
    </button>
    <mat-divider [vertical]="true"></mat-divider>
  </mat-toolbar>